<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="18.8.0" targetFramework="net452" />
  <package id="sautinsoft.document" version="3.4.8.20" targetFramework="net452" />
  <package id="sautinsoft.pdffocus" version="6.9.7.6" targetFramework="net452" />
</packages>