<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="19.7.0" targetFramework="net452" />
  <package id="Aspose.Note" version="19.7.0" targetFramework="net452" />
  <package id="Aspose.OCR" version="17.11.0" targetFramework="net46" />
  <package id="Aspose.Slides.NET" version="19.7.0" targetFramework="net452" />
  <package id="NGettext" version="0.6.3" targetFramework="net46" />
  <package id="sautinsoft.document" version="3.8.6.28" targetFramework="net452" />
  <package id="sautinsoft.pdffocus" version="7.0.3.29" targetFramework="net452" />
  <package id="VersOne.Epub" version="3.0.3.1" targetFramework="net46" />
</packages>